*

!/.gitignore
!/_config.yml
!/Gemfile
!/LICENSE
!/README.md
!/about.md
!/index.md
!/news.md
!/publications.md

!/_data/
!/_data/**
!/_layouts/
!/_layouts/**
!/_includes/
!/_includes/**
!/_publications/
!/_publications/**
!/assets/
!/assets/**

_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle/
Gemfile.lock
.DS_Store
